* {
  font-family: Arial, Helvetica, sans-serif;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-image: url("https://img.freepik.com/free-photo/happy-young-female-student-holding-notebooks-from-courses-smiling-camera-standing-spring-c_1258-126844.jpg?w=1380&t=st=1708509923~exp=1708510523~hmac=bc03eba76536920ab178a3b6aa783bd905744a708deb04a0f7ffe99540ece80e");
  background-size: cover;
  background-position: center;
  padding: 0;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
}

.register-form {
  padding: 0.5rem;
  /* margin-top: 20px; */
}

.list-container {
  display: flex;
}

@media screen and (min-width: 600px) {
  .register-form {
    padding: 10px 0px 20px 10px;
  }
}

.input-container1 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
  color: rgba(253, 253, 252, 0.981);
  font-size: 20px;
}

.lab {
  color: rgb(0, 0, 0);
  font-size: medium;
}

.lab1 {
  margin: 10px 0px;
  padding: 20px 40px 20px 10px; /* Increased right padding for space to show/hide password icon */
  border: 1px solid;
  border-radius: 10px;
  width: 300px;
  font-size: small;
}

/* Styling for the eye icon */
.toggle-password-icon {
  position: absolute;
  top: 70%;
  right: 10px; /* Adjust this value to change the position of the icon */
  transform: translateY(-50%);
  cursor: pointer;
  color: black;
}

.h21 {
  color: black;
  font-size: 2rem;
  margin-top: 20px;
}

.button2 {
  border: none;
  background-color: rgb(247, 8, 8);
  padding: 10px 20px;
  margin: 15px 0px 0px 10px;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(10, 0, 0);
  width: fit-content;
}

.link-btn3, .link-btn2 {
  background: none;
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
  border: none;
  margin-bottom: 20px;
}